@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgb(86, 8, 8), rgb(135, 51, 51), rgb(205, 127, 127));
    background-attachment: fixed;
    text-align: justify;
}

h1{
    color: rgb(215, 29, 29);
}

h1#principal{
    text-align: center;
    color: rgb(215, 29, 29);
    background-color: aliceblue;
    
}

h2.avancado{
    text-align: left;
    color: crimson;
}

h2.intermedio{
    text-align: left;
    color: rgb(247, 9, 56)
}

h2.basico{
    text-align: left;
    color: rgb(255, 0, 51);
}

.identificador{
    background-color: rgba(255, 228, 196, 0.616);
}