@charset "UTF-8";
@font-face {
    font-family:'Legend';
    src: url(CuteFont-Regular.otf);
}
@font-face {
    font-family: 'CUTE';
    src: url(Cute\ Baby\ Regular\ DF.ttf);
}
h1{
    text-align: center;
    font-family: 'CUTE';
    font-size: 4em;
}

h3#sub{
    text-align: center;
}

body{
    background-attachment: fixed;
    font-family: 'Legend' ;
    height: 1em;
    background-image: linear-gradient(to right, #c833bb 1%, #dd73bf, rgb(205, 127, 191));
    background-attachment: fixed;
}

img{
    border-radius: 10%;
}

h2.mark{
    background-color: rgba(152, 230, 204, 0.703);
    width: min-content;
    font-size:6ex;
}

p{
    font-size: 5ex;
    text-align: justify;
    text-indent: 1ex ;
}
