@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

:root{
    --color0: #c4b4fa;
    --color1: #a8faac;
    --color2: #fac08e;

    --fonte-marca: 'praia', 'curive';
    --fonte-site: 'mulish'
}

*{
    margin: 0px;
}

@font-face {
    font-family: 'praia';
    src: url(the_beach_2/TheBeach.otf);
}

header{
    
}

header > h1{
    color: #fac08e;
    font-family:var(--fonte-marca); 
    font-weight: 500;
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.363);
    text-align: center;
}

header nav{
    text-align: center;
    font-family: 'Mulish';
    padding: 3px 0px 10px 0px;
}

nav > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20.9px;
    margin-right: 20.9px;

}

section.img{
    
    padding:24px 1px 1px 24px;
}

section.info{
    background-color: #fac08e;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 300px;
    width: 450px;

}

h2{
    background-color: #a8faac;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 40px;
    width: 450px;

    text-align: center;
    font-family: var(--fonte-site);
    color: rgba(0, 0, 0, 0.675);
    padding-top: 8px;
}

p{
   
    font-family: var(--fonte-site) ;
    text-align: justify;
    text-indent: 30px;
    padding: 20px;
}

span{
    font-size: x-large;
}

img.imgb{
    padding: 1px 1px 1px 1px;
}


