/*O QUE APRENDEMOS DE MAIS IMPORTANTE: AO USAR PX, EM DIFERENTES TELAS NÃO SE ADAPTARÁ | AO USAR VH, SE ADAPTARÁ!*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: "Passion One";
    --fonte02: "Sriracha";
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh; /*tamanho mínimo da viewport height*/
    background-color: white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 40px;

    font-size: 8vw; /*VIEWPORT WIDTH, configurar letras | PODERIA TER USADO EM | NÃO É O ADEQUADO, MAS É UM RECURSO */
    font-family: var(--fonte01);
    font-variant: small-caps; /*poderia ter usado text-transform com uppercase, mas ficaria gritando*/
}

header > p{
    padding-bottom: 40px;
    font-size: 1.2em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#letras{
    padding-top: 10vh; /*veja o efeito em diferentes telas*/
    padding-bottom: 10vh;


    font-family: var(--fonte02);
    line-height: 2.4em;
    padding-left: 30px;
    font-size: 3vw;
}

section.imagem{
    background-color: gray;
}

section.imagem p{
    background-color: rgba(154, 48, 48, 0.23);
    
    display: inline-block;
    padding: 0px 10px;

}


a {
    text-decoration: none;
    color: white;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

header a:visited, footer a:visited{
    color: white;
}